<div class="profile-container-wrapper">
  <div class="profile-overview">
    <div class="profile-data">
      <div class="user-name">
        <label for="name" id="lbl-name">Name:</label>
        <span id="name">{{user?.name}}</span>
      </div>
      <div class="user-id">
        <label for="id" id="lbl-id">Kennung:</label>
        <span id="id">{{user?.id}}</span>
      </div>
    </div>

    <div class="surveys-wrapper">
      <div class="survey" *ngFor="let survey of surveys">
        <span>{{survey?.title}}</span>
        <ul>
          <li *ngFor="let questionnaire of survey?.questionnaires"
              (click)="onQuestionnaireSelection(questionnaire)">
            {{questionnaire?.title}}
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="profile-details">
    <app-questionnaire [questionnaire]="selectedQuestionnaire"></app-questionnaire>
  </div>
</div>
